## Insights for estate market



A company in the real estate market invests money on apartments to resell them. To increase the revenue and the gain over the investments done, House For You hired a data scientist to understand potential actions to get the main goal. Some questions were made to understand what actions to take during the time.

**Questions:**
1. Which immobile the CEO should buy and for how much? 
2. When the company already owns the immobile, when is the best time to sell it, and for how much?
3. The company should reform the immobile before selling to increase the price? Which are the suggestions? How much it impacts the price?

In [1]:
import pandas as pd

#### Importing dataset

In [4]:
df = pd.read_csv('./kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
df['city']

KeyError: 'city'